

body {
  overflow: hidden; /* Hide scrollbars */
  background: rgb(8, 14, 51);
  background-size: 100vw;
  background-image: url('/images/background_main.png');
  padding: 2.5rem;
  font-size: 62.5% !important;
  scrollbar-gutter: stable;
}
form {
  display: inline-block;
}
h1 {
  font-size: 12px;
  font-weight: normal;
  padding: none;
  margin: 0;
  font-family: "8bit";
}
/*lol*/
p {
  margin-top: 0px;
  margin-bottom: 0px;
  user-select: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
:root{
  --sideContentWidth: 35rem;
  --topBarWidth: 4.5rem;
  --userInfoWidth: 8.5rem;
  --editorElementContainer: 10rem;
  --editorElementIcon: 7rem;
  --gameIconWidth: 36rem;
  --gameIconHeight: 18rem;
  --gameIconPadding: 1rem;
  --gameStatWidth: 3rem;
  --gameStatHeight: 3rem;
  --bannerButtonWidth: 8rem;
  --bannerWidth: 5.5rem;
  font-size: 62.5% !important;
}
input {
  box-sizing: border-box;
}
select {
  box-sizing: border-box;
}
@font-face {
  font-family:"neonLights";
  src: url(/fonts/NeonTubes2.otf);
}
@font-face {
  font-family:"8bit";
  src: url(/fonts/8-bitpusab.ttf);
}
* {
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: rgb(100, 201, 247);
     /* scroll thumb and track */
}
*::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(100, 201, 247);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
#goalElement{
  grid-area: elm4;
}
.goalElement{
  background: transparent;
  background-image: url("/images/goalElement.png");
  background-size: 99.9% 100%;
  height: 200%;
  margin-top: -100%;
  image-rendering: pixelated;
  z-index: 4;
}
.spikeElement{
  background-image: url("/images/spikeElement.png");
  background-size: 100% 100%;
  image-rendering: pixelated;
  z-index: 3
}
#spikeElement{
  grid-area: elm3;
  z-index: 3
}
.groundElement{
  background: transparent;
  background-image: url("/images/groundElement2.png");
  background-size: 100% 100%;
  image-rendering: pixelated;
  z-index: 3
}
.groundElement.topElement{
  background-image: url("/images/groundElement.png");
}
#groundElement{
  grid-area: elm1;
}
.lavaElement{
  background: red;
  background-image: url("/images/lavaElement.png");
  background-size: 100% 100%;
  image-rendering: pixelated;
  z-index: 3
}
#lavaElement{
  grid-area: elm2;
}
#emptyElement {
  grid-area: elm5;
  background: black;
}
.emptyElement {
  background: transparent;
  z-index: 3;
}
.elementButton {
  height: var(--editorElementIcon);
  width: var(--editorElementIcon);
  margin-bottom:  calc(var(--editorElementContainer) - var(--editorElementIcon));
  position: relative;
}
.elementButton.goalElement {
  height: var(--editorElementIcon);
  margin-top: 0px;
  background-image: url("/images/goalElement2.png");
}
.elementLabel {
  margin-top: var(--editorElementIcon);
  height: calc(var(--editorElementContainer) - var(--editorElementIcon));
  width: var(--editorElementIcon);
  font-size: .7rem;
  color: white;
}
.editorElement {
  outline: .07rem solid rgba(0, 0, 0, 0.1);
}
.editorElement:hover {
  background: rgb(120, 192, 236);
  background-image: null !important;
}
.editorElement:active{
  background: white;
}
.elementSelected{
  border: .35rem solid black;
  outline: .35rem solid white;
  z-index: 10 !important;
}
.editSectionTitle{
  text-align: center;
  color: white;
  grid-area: title;
}
.editSectionContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, var(--editorElementIcon));
  grid-template-rows: 30px repeat(3, var(--editorElementContainer));
  grid-template-areas:
  "title title title title"
  "elm1 elm2 elm3 elm4"
  "elm5 elm6 elm7 elm8"
  "elm9 elm10 elm11 elm12";
  grid-area: editSec;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  font-family: "8bit";
  font-size: 10px;
  
}
.fullSize{
  display: relative;
  height: 100%;
  width: 100%;
}
.topLeft {
  top: 0;
  left: 0;
}
.topRight{
  top: 0;
  right: 0;
}
.autoFitContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}
.autoFitContent {
  width: 100%;
  max-height: 100%;
  aspect-ratio: 2/3;
  align-self: center;
  justify-self: center;
}
.autoWidth {
  width: auto;
}
.autoHeight {
  height: auto;
}
.halfWidth {
  width: 50%;
}
.halfHeight {
  width: 50%;
}
.width66 {
  width: 66%;
}
.height66 {
  height: 66%;
}
.fullWidth{
  width: 100%;
}
.fullHeight{
  height: 100%;
}
.smallWidth {
  width: 5rem;
}
.mediumWidth {
  width: 10rem;
}
.largeWidth {
  width: 15rem;
}
.noClick{
  pointer-events: none;
}
.click{
  pointer-events: all;
}
.smallHeight{
  height: 3rem;
}
.mediumHeight{
  height: 4rem;
}
.largeHeight{
  height: 5rem;
}
.editorTitleChange {
  width: auto;
  height: 100%;
  max-height: 4rem;
  box-sizing: border-box;
  float: right;
  grid-area: titleChange;
  font-family: '8bit';
}
.gameEditorSave{
  grid-area: saveBtn;
}
.saveButton {
  width: 10rem;
  height: 80%;
  border-radius: 12.5%/35% ;
  color: white;
  background-color:rgb(47, 58, 122);
  border: none;
}
.saveButton:hover{
  background-color:rgb(59, 73, 151);
}
.saveButton:active{
  background-color:rgb(78, 92, 172);
}
.gameEditorTitle{
  width: 100%;
  height: 100%;
  text-align: center;
  align-self: center;
  color: rgb(255, 255, 255);
  font-family: "8bit";
  font-size: 2rem;
  height: 5rem;
  grid-area: editLabel;
}
.gameEditorError{
  font-family: "8bit";
  font-size: 1rem;
  color: rgb(100, 201, 247);
}
.gameEditor{
  width: 100%;
  grid-area: sideContent;
  display: grid;
  font-size: 1.7rem;
  grid-template-columns: 100%;
  grid-template-rows: 8rem 3rem 4rem 3rem auto;
  grid-template-areas:
  "editLabel"
  "titleChange"
  "saveBtn"
  "errorMsg"
  "editSec";
  background: rgba(25, 29, 78, 0.911);
}
.gameWrapper {
  width: 100%;
  max-height: 100%;
  aspect-ratio: 16/9;
  align-self: center;
  justify-self: center;
  overflow: hidden;
  position: relative;
  color: white;
}
.gameTextContainer {
  width: 100%;
  height: 20rem;
}
.gameText {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.gameStatText{
  font-size: 2rem;
  font-family: '8bit';
}
.gameWin{
  background:rgba(75, 61, 136, 0.767);
  backdrop-filter: blur(5rem);
  font-size: 8rem;
  font-family: '8bit';
  z-index:5;
}
.gameLose{
  background:rgba(75, 61, 136, 0.767);
  backdrop-filter: blur(5rem);
  font-size: 8rem;
  font-family: '8bit';
  z-index:5;
}
.retryContainer {
  width: 20rem;
  height: 8rem;
}
.retryButton{
  font-family: arial;
  border: none;
  color: white;
  font-size: 2rem;
  border-radius: 10%/40%;
  color: black;
  height: 50%;
  width: 100%;
}
.screenBoundary {
  width: 100%;
  height: 100%;
}
.timerFont {
  font-size: 2.5rem;
  font-family: "8bit";
  z-index: 10;
}
.healthBarContainer{
  width: 12%;
  height: 9%;
  background: transparent;
  position: absolute;
  white-space: nowrap;
  left: 0;
  right: 0;
  overflow: visible;
}
.healthBarBlock{
  width: 20%;
  height: 100%;
  display: inline-block;
  background: transparent;
  box-sizing: border-box;
  padding: 3%;
}
.healthBarfill{
  width: 100%;
  height: 100%;
  background: white;
}
.character {
  width: 3.125%;
  height: 11.111%;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-mask-box-image: url("/images/character.png");
  mask-image: url("/images/character.png");
  mask-mode: alpha;
  background-image: url("/images/character.png");
  background-size: 100% 100%;
  image-rendering: pixelated;

}
.characterJump{
  width: 3.125%;
  height: 13.88875%;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-mask-box-image: url("/images/characterJump.png");
  mask-image: url("/images/characterJump.png");
  mask-mode: alpha;
  background-image: url("/images/characterJump.png");
  background-size: 100% 100%;
  image-rendering: pixelated;
}
.characterLightDamage{
  background-color: rgba(255, 217, 0, 0.719);
  background-blend-mode: multiply;
  animation: blinker 2s linear infinite;
}
.characterMediumDamage{
  background-color: rgba(231, 121, 12, 0.712);
  background-blend-mode: multiply;
  animation: blinker 2s linear infinite;
}
.characterHighDamage{
  background-color: rgba(245, 2, 2, 0.753);
  background-blend-mode: multiply;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  2% {
    opacity: 0;
  }
  15% {
    opacity: 100;
  }
}
.pixelate {
  image-rendering: pixelated;
}

.gameGrid {
  display: grid;
  width: 100%;
  max-height: 100%;
  aspect-ratio: 16/9;
  grid-template-columns: repeat(32, 3.125%);
  grid-template-rows: repeat(18, 5.55555%);
  overflow: hidden;
  align-self: center;
  justify-self: center;
}
.gameIcon {
  width: var(--gameIconWidth);
  height: var(--gameIconHeight);
  text-align: center;
  position: relative;
  border-radius: 3%/6%;
  font-family: '8bit';
  font-size: .8rem;
  color: white;
  transition: background-color 200ms;
  padding-left: var(--gameIconPadding);
  padding-right: var(--gameIconPadding);
  overflow: hidden;
  z-index: 1;
}
.gameIcon:hover{
  background-color: rgb(100,100,100,.4);
}
.gameEffect{
  background-color: transparent;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
  z-index: -1;
}
.gameEffect:hover{
  background-color: rgba(174, 170, 236, 0.219);
}
.gameIconBig{
  transform: scale(1.5);
  transform-origin: top left;
}
.editIcon {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 10;
  width: 1.3rem;
  height: 1.3rem;
}
.iconText{
  margin-left: calc((var(--gameIconPadding) * -1));
  text-shadow: 3px 2px 2px rgba(251, 12, 12, 0.651), 0px -1px 2px rgba(12, 80, 251, 0.411),-2px 0px 1px rgba(52, 251, 12, 0.452);
  color: rgba(255, 255, 255, 0.84);
}
.userText{
  margin-left: calc((var(--gameIconPadding) * -.3)) !important;
  cursor:pointer
}
.userText:hover{
  background: rgba(255, 255, 255, 0.418);
}
.gameTitle {
   font-family: '8bit';
   font-size: 1.7rem;
   color: white;
   width: calc(100% - (var(--bannerButtonWidth) * 5.5));
   margin-left: calc(var(--bannerButtonWidth) * 3);
   user-select: none;
}
.voteText {
  font-family: 'Arial';
  font-size: 1.1rem;
  color:rgb(235, 100, 247);
}
.voteSelected {
  background: rgba(252, 252, 252, 0.205);
}
.bannerButton {
  width: var(--bannerButtonWidth);
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
}
.bannerButton:hover{
  background: rgba(255, 255, 255, 0.308);
}
.bannerButton:active{
  background: rgba(255, 255, 255, 0.508);
}
.gameBrowserContainer {
  overflow: hidden;
  grid-area: content;
  display: grid;
  grid-template-columns: 100% 100%;
  grid-template-rows: 5.5rem calc(100vh - var(--topBarWidth) - 4.5rem);
  grid-template-areas: 
  "gameBrowserBanner"
  "gameBrowser"
}
.gameBrowserBanner {
  width: 100%;
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  font-family: arial;
  font-size: 1.4rem;
  grid-area: gameBrowserBanner;
  gap: 10px;
}
.gameBrowserGroup {
  display: inline-flex; 
  flex-flow: row;
  gap: 1rem;
}
.gameBrowserValue {
  display: flex;
  min-width: var(--bannerButtonWidth);
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
  background: rgb(48, 80, 117);
  border-radius: 5%/30%;
  user-select: none;
}
.gameBrowserValue:hover{
  background: rgb(57, 103, 156);
}
.gameBrowserValue:active{
  background: rgb(86, 156, 236);
}
.gameValueSelected{
  background: rgb(73, 128, 192);
}
.gameBrowserCategory {
  font-weight: bold;
  width: var(--bannerButtonWidth);
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
  user-select: none;
}
.gameBrowserContentContainer{
  grid-area: gameBrowser;
  overflow: scroll;
  overflow-x: hidden;
}
.gameBrowser {
  width: calc(100% - 1rem);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(38rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(18rem, 1fr));
  justify-items: center;
  grid-gap: 1rem;
  padding: 1rem;
}


.rankView {
  z-index: 10;
  background:rgba(75, 61, 136, 0.767);
  backdrop-filter: blur(5rem);
}
.rankList {
  width: 400px;
  font-size: .8rem;
  font-family: "8bit";
}
.ranks {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.rankSection {
  flex-basis: 300px;
  color: white;
  font-size: 1.5rem;
  font-family: arial;
  padding: 1rem;
}
.rankLabel {
  color: white;
  font-size: 1rem;
  font-family: "8bit";
}
.rankEntry {
  display: flex;
  flex-flow: row wrap;
}
.rankEntry p {
  flex-grow: 1;
}
.rankEntry p ::after {
  text-align: right;
}
.Home {
  grid-area: content;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15rem 5rem 3rem auto;
  grid-template-areas: 
  "homeLogo"
  "homeCaption"
  "homeTrendingLabel"
  "homeTrending";
  align-items: center;
}
.homeLogo{
  width: 50rem;
  grid-area: homeLogo;
  pointer-events: none;
}
.homeLogoCaption{
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  font-family: "8bit";
  grid-area: homeCaption;
}
.homeTrendingLabel {
  grid-area: homeTrendingLabel;
  font-size: 1rem;
  color: rgb(100, 201, 247);
  font-family: "8bit";
}
.trendingGames {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  grid-area: homeTrending;
}
.userProfile {
  background: white;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: var(--userInfoWidth) 3rem auto;
  grid-template-areas: 
  "profileInfo"
  "profileGameLabel"
  "profileGameContent";
  padding: 2rem;
  overflow: hidden;
}
.userInfo {
  font-size: 1.8rem;
  height: var(--userInfoWidth);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  grid-area: profileInfo;
}
.profileGameLabel{
  grid-area: profileGameLabel;
  height: 100%;
  font-size: 1.3rem;
  font-family: "8bit";
  color: white;
}
.profileGameBrowser{
  grid-area: profileGameContent;
}
.profileContainer {
  height: 100%;
  width: 30rem;
  display: flex;
  flex-flow: row;
  gap: 1rem;
  margin-left: 3rem;
}
.profileIcon {
  width: calc(var(--userInfoWidth) * .8);
  height: calc(var(--userInfoWidth) * .8);
  border-radius: 50%;
  border: .3rem solid white;

}
.profileText {
  width: calc(100% - var(--userInfoWidth));
  font-family: Arial;
  color:white;
  display: flex;
  flex-flow: column;
}
.profileName {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  font-family: "8bit";
}

.gameButton {
  width: 17rem;
  height: 4rem;
  background:rgb(120, 192, 236);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  font-family: "8bit";
  color: white;
  font-size: .8rem;
  margin-right: 3rem;
  gap: 1rem;
}
.gameButton p {
  margin-left: 1rem;
  margin-right: 1rem;
}
.plusIcon{
  font-size: 2rem;
}
.inlineItem {
  display: inline-block;
}
.deleteIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--gameStatWidth);
  height: var(--gameStatHeight);
}
.gameStat {
  margin-top: calc(var(--gameIconHeight) - var(--gameStatHeight));
  height: var(--gameStatHeight);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-shadow: 3px 2px 2px rgba(251, 12, 12, 0.651), 0px -1px 2px rgba(12, 80, 251, 0.411),-2px 0px 1px rgba(52, 251, 12, 0.452);
}
.smallLike {
  width: 2.3rem;
}
.left {
  float: left;
  text-align: left;
}
.right {
  float: right;
  text-align: right;
}
.center {
  left: 50%;
  margin-left: 50%;
  transform: translate(-50%);
  text-align: center;
}
.bottom {
  bottom: 0;
}
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  text-align: center;
}
.flexDirColumn{
  flex-flow: column;
}
.inlineFlex {
  display: inline-flex !important;
}
.absolute {
  position: absolute;
}
.searchBarForm {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.searchBarInput {
  max-width: 50%;
  width: 500px;
  height: 32px;
  box-sizing: border-box;
  pointer-events: all;

}
.login {
  width: var(--bannerButtonWidth);
  height: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "8bit";
}
.singleLine{
  width: 95%;
  height: 25px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 4px;
  padding-bottom: 4px;
  white-space: nowrap;
  color:rgb(120, 192, 236);
}
.inactiveButton {
  background: dimgray;
  pointer-events: none;
}
.activeButton {
  background: lightGray;
}
.popupHeader {
  color: rgb(240, 210, 233);
  text-shadow: 
  0px 0px .5rem rgb(247, 100, 215), 
  0px 0px .5rem rgb(247, 100, 215), 
  0px 0px .5rem rgb(247, 100, 215), 
  0px 0px .8rem rgb(247, 100, 215), 
  0px 0px .8rem rgb(235, 100, 247),  
  0px 0px 1rem rgb(235, 100, 247),  
  0px 0px 1.3rem rgb(235, 100, 247),  
  0px 0px 2.2rem rgb(235, 100, 247); 
  font-family: neonLights;
  font-size: 3rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.smallLabel {
  color:white;
  font-family: '8bit';
  font-size: 1rem;
  padding-left: 1rem;
}
.signUpPopup {
  max-width: 94%;
  width: 350px;
  background: rgb(21,43,102);
  font-family: Arial;
  font-size: 1.4rem;
  text-align: center;
  color: black;
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(110%);
}
.signUp {
  width: var(--bannerButtonWidth);
  height: 100%;
  color: rgb(100, 201, 247);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "8bit";
}
.banner {
  position: relative;
  grid-area: banner;
  background: rgb(21,43,102);
}
.sideBar {
  background: rgb(10, 3, 36);
  grid-area: sideBar;
  display: flex;
  flex-flow: column;
  justify-content: top;
  z-index: 10;
}
.sideBarButton {
  height: 9rem;
  display: flex;
  flex-flow:column;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.sideBarButton:hover{
  background: rgba(255, 255, 255, 0.15)
}
.sideBarButton:active{
  background: rgba(255, 255, 255, 0.35)
}
.sideBarButtonSelected{
  background: rgba(255, 255, 255, 0.08)
}
.sideLabel {
  grid-area: sideBarLabel;
  font-size: 1.3rem;
  font-family: Arial;
  color: rgb(120, 192, 236);
}
.sideIcon {
  grid-area: sideBarIcon;
  max-height:30%; 
  max-width:80%;
}
.content {
  grid-area: content;
  overflow: hidden;
  background: transparent;
}
.footer {
  grid-area: footer;
  background: blue;
}
.noSideBar {
  grid-template-areas:
  "sideBar banner banner banner banner"
  "sideBar content content content content" 
  "sideBar content content content content" 
  "sideBar content content content content" !important
}
.appContainer {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: var(--bannerWidth) 1fr var(--sideContentWidth);
  grid-template-rows: var(--topBarWidth) auto auto;
  grid-template-areas:
  "sideBar banner banner"
  "sideBar content sideContent"
  "sideBar content sideContent"
  "sideBar content sideContent"
}
@media (pointer: coarse) and (max-device-aspect-ratio: 1/1) {
  :root{
    --sideContentWidth: 35rem;
    --topBarWidth: 12rem;
    --userInfoWidth: 17rem;
    --editorElementContainer: 18vw;
    --editorElementIcon: 15vw;
    --gameIconWidth: 80vw;
    --gameIconHeight: 40vw;
    --gameIconPadding: 1rem;
    --gameStatWidth: 3rem;
    --gameStatHeight: 3rem;
    --bannerWidth: 7vh;
    --bannerButtonWidth: 15rem;
    font-size: 62.5% !important;
  }
  .appContainer {
    grid-template-columns: 100%;
    grid-template-rows: var(--topBarWidth) auto 30vh var(--bannerWidth);
    grid-template-areas:
    "banner"
    "content"
    "sideContent"
    "sideBar"
    
  }
  .noSideBar {
    grid-template-areas:
    "banner"
    "content"
    "content"
    "sideBar" !important
  }
  .doubleBanner{
    grid-template-rows: var(--topBarWidth) var(--topBarWidth) auto 30vh var(--bannerWidth) !important;
    grid-template-areas:
    "banner"
    "mobileDoubleBanner"
    "content"
    "content"
    "sideBar" !important 
  }
  .signUp {
    font-size: 2rem;
  }
  .login {
    font-size: 2rem;
  }
  .sideBar {
    flex-flow: row;
    justify-content: space-evenly;
    z-index: 50;
  }
  .sideBarButton {
    height:  100%;
    width: 9rem;
    flex-grow: 1;
  }
  .sideIcon {
    max-height:50%; 
    max-width:80%;
  }
  .sideLabel {
    font-size: 1.8vh;
  }
  .mobileExtraBanner{
    height: 100%;
    background-color: rgb(7, 10, 39);
    grid-area: mobileDoubleBanner;
    position: relative;
    font-family: "8bit";
    font-size: 3rem;
    color: white;
  }
  .gameTitle {
    width: 100%;
    display: flex;
    justify-content: center;;
    font-family: '8bit';
    color: white;
    user-select: none;
    margin-left: none;
 }
 .voteText {
  font-size: 2rem;
 }
  .searchBarForm {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    text-align: left;
  
}
.searchBarInput {
  position: absolute;
  max-width: 50%;
  width: 500px;
  top: 5%;
  left: 1%;
  height: 90%;
  box-sizing: border-box;
  pointer-events: all;
  float: left;
  font-size: 3.5rem;
}
.gameBrowserBanner {
  transform: scale(1);
}
  .gameBrowser {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, minmax(40vw, 1fr));
    justify-items: center;
    grid-gap: 2rem;
    padding: 1rem;
  }
  .gameBrowserContainer {
    grid-template-rows: 9.5rem calc(100vh - var(--topBarWidth) - 4.5rem);
  }
  .gameBrowserCategory{
    font-size: 3rem;
  }
  .gameBrowserValue {
    font-size: 3rem;
    min-width: var(--bannerButtonWidth);
  }
  .gameIcon {
    font-size: 1.6rem;
  }
  .gameEditor{
    grid-template-columns: 50vw 50vw ;
    grid-template-rows: 7vw calc(50% - 3.5vw) calc(50% - 3.5vw);
    grid-template-areas:
    "editLabel editLabel"
    "titleChange editSec"
    "saveBtn editSec";
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
  }
  .editSectionContainer{
    height: 100%;
    grid-template-columns: repeat(3, var(--editorElementIcon));
    grid-template-rows: 6vw repeat(3, var(--editorElementContainer));
    grid-template-areas:
    "title title title"
    "elm1 elm2 elm3"
    "elm4 elm5 elm6"
    "elm9 elm10 elm11";
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    
  }
  .gameEditorTitle{
    font-size: 3vw;
  }
  
  .editorTitleChange{
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
  }
  .editorTitleChange input{
    width: 80%;
    height: 50%;
    font-size: 4.6vw;
  }
  .editorTitleChange label{
    justify-self: top;
    height: 50%;
    font-size: 2.6vw;
  }
  .smallLabel {
    font-size: 2.6vw;
  }
  /* ..gameEditorSave{{
    height: 50%;
  } */
  .gameEditorSave{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
  }
  .saveButton{
    width: 100%;
    height: 100%;
    border-radius: 8%/8% ;
    color: white;
    background-color:rgb(47, 58, 122);
    border: none;
    font-size: 3vw;
    font-family: "8bit";
  }
  .editSectionContainer {
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    overflow-x: hidden;
  }
  .editSectionTitle{
    font-size: 2.6vw
  }
  .elementLabel{
    font-size: 1.8vw;
  }
  .rankLabel {
    font-size: 2.8rem;
  }
  .rankSection {
    flex-basis: 80%;
    font-size: 4rem;
  }
  .homeLogoCaption{
    font-size: 2rem;
  }
  .homeTrendingLabel{
    font-size: 1.6rem;
  }
  .Home {
    grid-area: content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15rem 5rem 5rem auto;
  }
  .iconText{
    font-size: 2rem;
  }
  .profileGameLabel{
    font-size: 3rem;
  }
  .userProfile {
    grid-template-rows: var(--userInfoWidth) 6rem auto;
  }
}

@media (pointer: coarse) and (max-height: 60rem) {
  .sideBar{
    display: none!important
  }
  .appContainer {
    grid-template-columns: 100%;
    grid-template-rows: var(--topBarWidth) auto 30vh;
    grid-template-areas:
    "banner"
    "content"
    "sideContent"
    
  }
  .noSideBar {
    grid-template-areas:
    "banner"
    "content"
    "content"
  }

}
@media (pointer: coarse) and (min-device-aspect-ratio: 1/1) {
  .Home {
    grid-area: content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6rem 3rem 3rem auto;
    grid-template-areas: 
    "homeLogo"
    "homeCaption"
    "homeTrendingLabel"
    "homeTrending";
    align-items: center;
  }
  .homeLogo{
    width: 20rem;
  }
}

